$cchampagne: #EDDDD4;
$cblue1: #caf0f8;
$cblue2: #90e0ef;
$cblue3: #00b4d8;
$cblue4: #0077b6;
$cblue5: #03045e;
$csea: #1A7F8E;

$colors: ('champagne':$cchampagne,
  'blue1':$cblue1,
  'blue2':$cblue2,
  'blue3':$cblue3,
  'blue4':$cblue4,
  'blue5':$cblue5,
  'sea':$csea);
