/* You can add global styles to this file, and also import other style files */
@import './scss/variables';
@import './scss/piechart';

// THEMING BOOTSTRAP
$theme-colors: ("danger": darkred,
  "success":$csea,
  "dark":$cblue5,
  "primary":$cblue4,
  "light":$cchampagne,
  "warning":darkorange
  );


.btn:focus {
  outline: none;
}

// Bootstrap and its default variables
@import "node_modules/bootstrap/scss/bootstrap";


* {
  font-family: 'Raleway', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
}

@each $name,
$value in $colors {
  .bg-#{$name} {
    background: $value;
  }

  .text-#{$name} {
    color: $value;
  }
}
