<div class="row">
  <section class="col-12">
    <h1>About this app</h1>
    <p>
      The aim of this app is to help drink the right amount of water everyday.
    </p>
  </section>

  <section class="col-12">
    <h2>This application uses the following elements of Angular Framework:</h2>
    <ul>
      <li>RouterModule for links handling</li>
      <li>RxJs BehaviorSubject sequence of asynchrous data</li>
      <li>
        Service with @Injectable() decorator in order to share data between
        components
      </li>
      <li>
        @ViewChild decorator in order to comunicate with Child Component and be
        able to use it's public methods
      </li>
    </ul>
    <h3>This application also uses:</h3>
    <ul>
      <li>Bootstrap Grid system and Flex Utility</li>

      <li>SCSS (variables, maps, loops)</li>
    </ul>

    <h3>Site is <b>WCAG AA compliant</b></h3>
    <p>Checked with following tools:</p>
    <ul>
      <li>
        <a href="https://webaim.org/resources/contrastchecker/">WebAIM</a>
        Contrast checker
      </li>

      <li>
        <a
          href="https://chrome.google.com/webstore/detail/wave-evaluation-tool/jbbplnpkjmmeebjpijfedlgcdilocofh?hl=pl"
          >Wave Evaluation Tool</a
        >
        Evaluate web accessibility
      </li>
    </ul>

    <button class="btn btn-success" routerLink="">START</button>
  </section>
</div>
